/* ==========================================================================
Main page styles
========================================================================== */
.usa--card {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-clip: border-box;
  border-radius: 0.25rem;
}

ul.custom {
  list-style-type: disc;
}

@media (min-width: 64em) {
  #home .usa-accordion {
    width: 88%;
  }
}
@media (max-width: 63.99em) {
  #home .usa-accordion {
    width: 100%;
  }
}
